html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lower-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100vw;
    margin-left: calc(-2%);
    padding: 0 2%;
    box-sizing: border-box;

}

.flex-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-right: 5%;
}

.col div {
    width: 100%;
    height: fit-content;
    border-bottom: black 1px solid;
}

.col p {
    margin-bottom: 0;
}

.hover-text {
    width: fit-content;
}

.img-style {
    height: 400px;
    width: 325px;
}