html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-family: "Host Grotesk", sans-serif;
    
    font-optical-sizing: auto;
    font-style: normal;

}

.header-container {
    display: flex;
    justify-content: flex-start;

}

.body-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-right: 5%;
}

.col p {
    border-bottom: black 1px solid;
}

.img-style {
    height: 400px;
    width: 400px;
}